{% extends "_includes/default.njk" %}

{% block title %}Selfhost{% endblock %}

{% block content %}
  <section>
    <div class="text-center shadow-3xl p-16 bg-white m-9 rounded-2xl">
      <h1 class="content-center row-start-1 row-end-2 text-center text-6xl font-bold text-zinc-900">Jake Hackl</h1>
    </div>
  </section>
  <hr>
{% endblock %}
