{% extends "_includes/default.njk" %}

{% block title %}Selfhost{% endblock %}

{% block content %}
  <section>
    <div class="grid grid-rows-2 place-content-center mx-auto text-center p-16">
      <h1 class="content-center row-start-1 row-end-2 col-start-1 col-end-1 text-6xl font-bold text-zinc-900">Jake Hackl</h1>
      <div class="place-content-center row-start-2 row-end-3 grid grid-flow-col gap-11 pt-6 text-3xl">
        <a href="" class="self-center">About</a>
        <button class="bg-slate-800 p-3 rounded-btn text-white">Posts</button>
      </div>
    </div>
  </section>
{% endblock %}
