---
layout: default.njk
---

<article class="prose prose-lg max-w-4xl mx-auto md:bg-white p-11 md:mt-14 md:mb-14 md:rounded-xl md:shadow-xl">
  <h1 class="py-4 md:py-8"> {{title}}</h1>

  {{content | safe}}

</article/>