@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .change {
    color: black;
  }
}
.btn {
  text-transform: none;
}
hr {
  border: 0;
  border-top: 2px solid black;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 3rem;
}